<% provide(:title, 'All groups') %>
<h1>All groups</h1>


<ul class="groups">
  <% @groups.each_with_index do |group, i| %>
      <li>
        <%= i + 1 %>.
        <%= link_to group.name, '#' %>
        <% if current_user.admin? && signed_in? %>
            <%= link_to "delete", group, method: :delete, data: { confirm: "You sure?" }, title: group.name %>
        <% end %>
      </li>
  <% end %>
</ul>

